<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcakes</title>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@5/dist/css/bootstrap.css">
</head>


<body>

  <h1>Cupcakes</h1>
  <ul id="cupcakes"></ul>
  <!-- flavor, size, rating, image_url -->
  <form>
    <div>
      <label for="flavor">Flavor: </label>
      <input name='flavor' id='flavor'>
    </div>
    <div>
      <label for="size">Size: </label>
      <input name='size' id='size'>
    </div>
    <div>
      <label for="rating">Rating: </label>
      <input name='rating' id='rating'>
    </div>
    <div>
      <label for="image_url">Image URL: </label>
      <input name='image_url' id='image_url'>
    </div>
    <button id="submitBtn">Submit</button>
  </form>

  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src='../static/cupcakes.js'></script>
</body>

</html>